:root {
  --background: rgb(255, 255, 255, 0.4);
  --secondary-background: rgb(225, 225, 225, 0.8);
  --button-background: rgb(124, 124, 124);
}

body {
  background-color: var(--background);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
}
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-blocks > div {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--secondary-background);
  backdrop-filter: (5px);
  min-width: 220px;
}

.dashboard-items {
  background-color: var(--background);
  margin: 10px;
  padding: 15px;
  width: 85%;
  max-width: 400px;
  border-radius: 10px;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  gap: 10px;
  line-break: anywhere;
}
.link>button{
  background-color: red;
  padding: 5px;
}
a{
  text-decoration: none;
}
.error-msg{
  color:rgb(150, 0, 0);
}
button {
  border: none;
  padding: 10px;
  background-color: var(--button-background);

  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;  
  transition: 300ms;
}
button:hover {
  background-color: rgb(50, 50, 50);
}
button>a{
  color: white;
  text-decoration: none;
}

.date-conatiner {
  margin-top: 50px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-background);
}

#notes {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
}
.wheater-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.info-box {
  background-color: var(--secondary-background);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.wheater-container {
  margin: 2px;
}
#dashboardTitleInput {
  display: none;
  font-size: 42px;
}
#dashboardTitle {
  font-size: 42px;
}
#dashboardTitleContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
#news{
  max-height: 650px;
  overflow-y: scroll;
}
#newBackground{
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {

  .dashboard-blocks > div {
    width: 100%;
  }
}